/*
gaowenzhen@msn.com

*/

$primary-color: #fff;
$font-color: #000;

body {
  background-color: $primary-color;
}

h1 {
  color: $font-color;
}

@media only screen and (min-width: 960px){
	.flow-text {
    font-size: 1.2rem;
   }
}

@media only screen and (min-width: 930px){
   .flow-text {
    font-size: 1.376rem;
   }
}

@media only screen and (min-width: 900px){
 .flow-text {
    font-size: 1.352rem;
   }
}

@media only screen and (min-width: 870px){
  .flow-text {
    font-size: 1.328rem;
   }
}

@media only screen and (min-width: 840px){
  .flow-text {
    font-size: 1.304rem;
   }
}

@media only screen and (min-width: 810px){
 .flow-text {
    font-size: 1.28rem;
   }
}

@media only screen and (min-width: 780px){
.flow-text {
    font-size: 1.256rem;
   }
}

@media only screen and (min-width: 750px){
.flow-text {
    font-size: 1.232rem;
   }
}

@media only screen and (min-width: 720px){
.flow-text {
    font-size: 1.208rem;
   }
}
/*小写*/
.tabs .tab{
	text-transform: none;
}

.divradius div{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  line-height: 100px;
  margin-left: 5px;
}

.divradius .A{
background: #ffff01
}
.divradius .D{
 background: #fea500
}
.divradius .S{
 background: #3f51b5
}
.divradius .V{
 background: #64af4c
}
 
.boomx1{
  border-bottom: dotted 1px #FF9800;
}